# IPL Dataset Analysis

## Problem Statement
We want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

## About the Dataset :
The Indian Premier League (IPL) is a professional T20 cricket league in India contested during April-May of every year by teams representing Indian cities. It is the most-attended cricket league in the world and ranks sixth among all the sports leagues. It has teams with players from around the world and is very competitive and entertaining with a lot of close matches between teams.

The IPL and other cricket related datasets are available at [cricsheet.org](https://cricsheet.org/%c2%a0(data). Feel free to visit the website and explore the data by yourself as exploring new sources of data is one of the interesting activities a data scientist gets to do.

Snapshot of the data you will be working on:<br>
<br>
The dataset 136522 data points and 23 features<br>

|Features|Description|
|-----|-----|
|match_code|Code pertaining to individual match|
|date|Date of the match played|
|city|City where the match was played|
|venue|Stadium in that city where the match was played|
|team1|team1|
|team2|team2|
|toss_winner|Who won the toss out of two teams|
|toss_decision|toss decision taken by toss winner|
|winner|Winner of that match between two teams|
|win_type|How did the team won(by wickets or runs etc.)|
|win_margin|difference with which the team won| 
|inning|inning type(1st or 2nd)|
|delivery|ball delivery|
|batting_team|current team on batting|
|batsman|current batsman on strike|
|non_striker|batsman on non-strike|
|bowler|Current bowler|
|runs|runs scored|
|extras|extra run scored|
|total|total run scored on that delivery including runs and extras|
|extras_type|extra run scored by wides or no ball or legby|
|player_out|player that got out|
|wicket_kind|How did the player got out|
|wicket_fielders|Fielder who caught out the player by catch|

### Analyzing data using pandas module

### Read the data using pandas module.

In [2]:
import pandas as pd
import numpy as np
df_ipl = pd.read_csv('./data/ipl_dataset.csv')
df_ipl.shape

(136522, 24)

In [3]:
len(df_ipl['match_code'].unique())

# You can also use: 
#df_ipl['match_code'].nunique()

577

### There are certain fixed cities all around the world where matches are held. Find the list of unique cities where matches were played

In [4]:
# Corrected as Venues to Cities
print('\nCities Played At:',df_ipl['city'].unique())

Cities Played At: ['East London' 'Port Elizabeth' 'Centurion' 'neutral_venue' 'Chennai'
 'Jaipur' 'Kolkata' 'Delhi' 'Chandigarh' 'Hyderabad' 'Ranchi' 'Mumbai'
 'Bangalore' 'Dharamsala' 'Pune' 'Rajkot' 'Durban' 'Cuttack' 'Cape Town'
 'Ahmedabad' 'Johannesburg' 'Visakhapatnam' 'Abu Dhabi' 'Raipur' 'Kochi'
 'Kimberley' 'Nagpur' 'Bloemfontein' 'Indore' 'Kanpur']

### Find the columns which contains null values if any ?

In [5]:
df_ipl.isnull().sum()
# columns such as winner, win_type, win_margin, extras_type, player_out, wicket_kind, wicket_fielders are having null values.

match_code              0
date                    0
city                    0
venue                   0
team1                   0
team2                   0
toss_winner             0
toss_decision           0
winner               1818
win_type             1818
win_margin           1818
inning                  0
delivery                0
batting_team            0
batsman                 0
non_striker             0
bowler                  0
runs                    0
extras                  0
total                   0
extras_type        129064
player_out         129807
wicket_kind        129807
wicket_fielders    131657
dtype: int64

### Though the match is held in different cities all around the world it may or maynot have multiple venues (stadiums where matches are held) list down top 5 most played venues

In [6]:
venues = df_ipl.groupby('venue')['match_code'].nunique().sort_values(ascending=False)

In [7]:
print('Top 5 favoured grounds are : \n\n',venues[0:5])

Top 5 favoured grounds are :

 venue
M Chinnaswamy Stadium              58
Eden Gardens                       54
Feroz Shah Kotla                   53
Wankhede Stadium                   49
MA Chidambaram Stadium, Chepauk    48
Name: match_code, dtype: int64

### Make a runs vs run-count frequency table

In [8]:
# Let's look at what kind of runs were scored 
# If the frequency of sixers and fours are high then we can infer that its a high intensity match with short time period(i.e 20 overs)
runs_counts = df_ipl['runs'].value_counts()
print('Runs count frequency table:\n\n',runs_counts)

# Also you can try using pandas function crosstab
#runs_count = pd.crosstab(df_ipl['runs'], columns='runs_count')
#print('Runs count frequency table:\n\n',runs_count)

Runs count frequency table:

 0    55870
1    50087
4    15409
2     8835
6     5806
3      473
5       42
Name: runs, dtype: int64

### IPL seasons are held every year now let's look at our data and extract how many seasons were recorded.

In [9]:
df_ipl['year'] = df_ipl['date'].apply(lambda x : x[:4])

print('The no. of seasons that were played are :', len(df_ipl['year'].unique()))
print('Seasons played were in :', df_ipl['year'].unique())

The no. of seasons that were played are : 9
Seasons played were in : ['2009' '2014' '2011' '2008' '2015' '2010' '2013' '2012' '2016']

### What are the total no. of matches played per season

In [10]:
matches_per_season = df_ipl.groupby('year')['match_code'].nunique()
print('Matches held per season are :\n\n', matches_per_season)

Matches held per season are :

 year
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
Name: match_code, dtype: int64

### What are the total runs scored across each season

In [11]:
runs_per_season = df_ipl.groupby('year')['total'].sum()

In [12]:
# Seems like the season of 2012 and 2013 were most scoring seasons
print('total runs scored per season are: \n', runs_per_season)

total runs scored per season are:
 year
2008    17936
2009    16320
2010    18862
2011    21154
2012    22451
2013    22541
2014    18909
2015    18331
2016    18862
Name: total, dtype: int64

### There are teams which are high performing and low performing. Let's look at the aspect of performance of an individual team. Filter the data and aggregate the runs scored by each team. Display top 10 results which are having runs scored over 200.

In [13]:
high_scores=df_ipl.groupby(['match_code', 'inning','team1','team2'])['total'].sum().reset_index()

In [14]:
high_scores = high_scores[high_scores['total'] >= 200]

In [15]:
"""
The above dataframe shows the number of times a team has scored above 200 runs against another team. 
Clearly Kings XI Punjab has scored 200+ againtChennai Super Kings 2 times.
Also the number of 200+ runs are higher in the 1st innings.
"""
high_scores.nlargest(10, 'total')

,match_code,inning,team1,team2,total
701,598027,1,Royal Challengers Bangalore,Pune Warriors,263
1118,980987,1,Royal Challengers Bangalore,Gujarat Lions,248
292,419137,1,Chennai Super Kings,Rajasthan Royals,246
2,335983,1,Kings XI Punjab,Chennai Super Kings,240
1002,829795,1,Mumbai Indians,Royal Challengers Bangalore,235
472,501260,1,Kings XI Punjab,Royal Challengers Bangalore,232
398,501223,1,Delhi Daredevils,Kings XI Punjab,231
851,733987,1,Kings XI Punjab,Chennai Super Kings,231
1038,980907,1,Royal Challengers Bangalore,Sunrisers Hyderabad,227
911,734047,1,Chennai Super Kings,Kings XI Punjab,226

### Chasing a 200+ target is difficulty in T-20 format. What are the chances that a team scoring runs above 200  in their 1st inning is chased by the opposition in 2nd inning.

In [16]:
high_scores1 = high_scores[high_scores['inning']==1]
high_scores2 = high_scores[high_scores['inning']==2]

In [17]:
high_scores1=high_scores1.merge(high_scores2[['match_code','inning', 'total']], on='match_code')
high_scores1.rename(columns={'inning_x':'inning_1','inning_y':'inning_2','total_x':'inning1_runs','total_y':'inning2_runs'},inplace=True)
high_scores1=high_scores1[high_scores1['inning1_runs']>=200]
high_scores1['is_score_chased']=1
high_scores1['is_score_chased'] = np.where(high_scores1['inning1_runs']<=high_scores1['inning2_runs'], 
                                           'yes', 'no')

In [18]:
chances = high_scores1['is_score_chased'].value_counts()
print(chances)

no     8
yes    6
Name: is_score_chased, dtype: int64

In [19]:
print('The chances of chasing a target of 200+ in 1st innings are : \n' , round(chances[1]/14*100))

#It seems to be clear that team batting first and scoring 200+ runs, has a very high probablity of winning the match.

The chances of chasing a target of 200+ in 1st innings are :
 43.0

### Every season has that one team which is outperforming others and is in great form. Which team has the highest win counts in their respective seasons ?

In [20]:
# Lets see which team were performing outstanding with their respective seasons.
match_wise_data = df_ipl.drop_duplicates(subset = 'match_code', keep='first').reset_index(drop=True)

In [21]:
X=match_wise_data.groupby('year')['winner'].value_counts()
X

year  winner
2008  Rajasthan Royals               13
      Kings XI Punjab                10
      Chennai Super Kings             9
      Delhi Daredevils                7
      Mumbai Indians                  7
      Kolkata Knight Riders           6
      Royal Challengers Bangalore     4
      Deccan Chargers                 2
2009  Delhi Daredevils               10
      Deccan Chargers                 9
      Royal Challengers Bangalore     9
      Chennai Super Kings             8
      Kings XI Punjab                 7
      Mumbai Indians                  5
      Rajasthan Royals                5
      Kolkata Knight Riders           3
2010  Mumbai Indians                 11
      Chennai Super Kings             9
      Deccan Chargers                 8
      Royal Challengers Bangalore     8
      Delhi Daredevils                7
      Kolkata Knight Riders           7
      Rajasthan Royals                6
      Kings XI Punjab                 3
2011  Chennai Super Kings            11
      Mumbai Indians                 10
      Royal Challengers Bangalore    10
      Kolkata Knight Riders           8
      Kings XI Punjab                 7
      Deccan Chargers                 6
                                     ..
2013  Sunrisers Hyderabad             9
      Kings XI Punjab                 8
      Royal Challengers Bangalore     8
      Kolkata Knight Riders           6
      Pune Warriors                   4
      Delhi Daredevils                3
2014  Kings XI Punjab                12
      Kolkata Knight Riders          11
      Chennai Super Kings            10
      Mumbai Indians                  7
      Rajasthan Royals                6
      Sunrisers Hyderabad             6
      Royal Challengers Bangalore     5
      Delhi Daredevils                2
2015  Chennai Super Kings            10
      Mumbai Indians                 10
      Royal Challengers Bangalore     8
      Kolkata Knight Riders           7
      Rajasthan Royals                7
      Sunrisers Hyderabad             7
      Delhi Daredevils                5
      Kings XI Punjab                 2
2016  Sunrisers Hyderabad            11
      Gujarat Lions                   9
      Royal Challengers Bangalore     9
      Kolkata Knight Riders           8
      Delhi Daredevils                7
      Mumbai Indians                  7
      Rising Pune Supergiants         5
      Kings XI Punjab                 4
Name: winner, Length: 76, dtype: int64

In [22]:
for year in range(2008,2017):
    print(year,X[str(year)].idxmax(), X[str(year)].max())

2008 Rajasthan Royals 13
2009 Delhi Daredevils 10
2010 Mumbai Indians 11
2011 Chennai Super Kings 11
2012 Kolkata Knight Riders 12
2013 Mumbai Indians 13
2014 Kings XI Punjab 12
2015 Chennai Super Kings 10
2016 Sunrisers Hyderabad 11